{% extends 'layout.html' %}

{% block content %}
<h1>{{ profile.user.username }}'s Subscribers</h1>
<ul class="subscriber-list">
  {% for subscriber in subscribers %}
  <li class="subscriber-item">
    <a href="{% url 'profile' subscriber.user.username %}" class="subscriber-button">
      <img
        src="{{ subscriber.profile_pic.url }}"
        alt="{{ subscriber.user.username }}"
        width="50"
        height="50"
      />
      {{ subscriber.user.username }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}