body {
    margin: 0;
    padding: 0;
    font-family: 'Gothic', Arial, sans-serif;
    background-color: #2b2b2b;
    color: #ffffff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px; /* Ширина сайдбара на 20% экрана */
    background-color: #272727;
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0; /* Убираем отступ сверху */
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    word-wrap: break-word; /* Добавляем перенос для длинных слов */
}

.sidebar ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

.content {
    margin-left: 220px;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word; /* Добавляем перенос для длинных слов */
}

.avatar {
    width: 250px; /* Желаемая ширина изображения */
    height: 250px; /* Автоматическое определение высоты */
    border-radius: 50%; /* Округление углов для создания эффекта круглой аватарки */
}

.bottom-buttons {
    position: absolute;
    bottom: 0px; /* Расположить блок по нижнему краю с отступом в 20 пикселей */
    left: 0;
    width: 100%;
    text-align: center;
}

.sidebar-button {
    display: block;
    color: #fff;
    background-color: #272727;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold; /* Сделать текст жирным */
    border: none; /* Убрать края */
    font-size: 16px; /* Увеличить размер шрифта */
    line-height: 44px;
}

.sidebar-button:hover {
    background-color: #333;
}

.post-input {
        border: 1px solid transparent; /* No border */
        border-radius: 5px; /* Rounded corners */
        background-color: #333; /* Dark background */
        color: #fff; /* White text */
        width: 550px;
        box-sizing: border-box; /* Include padding and border in the width */
        outline: none; /* Remove focus outline */
    }

    /* Style for the browse file button */
.browse-file-btn, .create-post-btn {
    background-color: #5a8fbf; /* Pastel blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Smooth transition */
    font-size: 14px; /* Font size */
    display: inline-block; /* добавляем эту строку */
    height: 25px; /* высота кнопки */
    line-height: 25px; /* добавляем эту строку */
    margin-right: 5px;
}

/* Change background color on hover */
.browse-file-btn:hover, .create-post-btn:hover {
    background-color: #5a8fbf; /* Darker shade of pastel blue */
}

    /* Hide default file input appearance */
.file-input {
    display: none;
}

.create-post-btn {
    display: none; /* изначально скрываем кнопку */
}

.file-upload {
    display: flex; /* Используем flexbox */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.author {
    margin-bottom: -13px; /* Уменьшение отступа между именем пользователя и датой */
    font-size: smaller;
}

.date {
    font-size: x-small;
}

.post {
    background-color: #333; /* Установка цвета фона для контейнера поста */
    color: #fff; /* Установка цвета текста в посте */
    margin-bottom: 10px; /* Добавление отступа между постами */
    border-radius: 5px; /* Скругление углов контейнера поста */
    width: 550px; /* Установка ширины контейнера для постов */
}

.post img {
    width: 100%; /* Растянуть изображение на всю ширину контейнера */
    height: auto; /* Сохранить пропорции изображения */
    display: block; /* Сделать изображение блочным элементом */
    margin: auto; /* Центрирование изображения */
}

.post {
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
}

.menu-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #2b2b2b; /* Темно-серый цвет */
    font-weight: bold; /* Пожирнее */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: #ffffff;
    padding: 2px 2px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333333;
}

.menu:hover .dropdown-content {
    display: block;
}
