body {
    margin: 0;
    padding: 0;
    font-family: 'Gothic', Arial, sans-serif;
    background-color: #2b2b2b;
    color: #ffffff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px; /* Ширина сайдбара на 20% экрана */
    background-color: #272727;
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0; /* Убираем отступ сверху */
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    word-wrap: break-word; /* Добавляем перенос для длинных слов */
}

.sidebar ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

.content {
    margin-left: 220px;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word; /* Добавляем перенос для длинных слов */
}

.bottom-buttons {
    position: absolute;
    bottom: 0px; /* Расположить блок по нижнему краю с отступом в 20 пикселей */
    left: 0;
    width: 100%;
    text-align: center;
}

.sidebar-button {
    display: block;
    color: #fff;
    background-color: #272727;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold; /* Сделать текст жирным */
    border: none; /* Убрать края */
    font-size: 16px; /* Увеличить размер шрифта */
    line-height: 44px;
}

.sidebar-button:hover {
    background-color: #333;
}

.post-input {
        border: 1px solid transparent; /* No border */
        border-radius: 5px; /* Rounded corners */
        background-color: #333; /* Dark background */
        color: #fff; /* White text */
        width: 550px;
        box-sizing: border-box; /* Include padding and border in the width */
        outline: none; /* Remove focus outline */
        resize: none;
    }

    /* Style for the browse file button */
.browse-file-btn, .create-post-btn {
    background-color: #5a8fbf; /* Pastel blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Smooth transition */
    font-size: 14px; /* Font size */
    display: inline-block; /* добавляем эту строку */
    height: 25px; /* высота кнопки */
    line-height: 25px; /* добавляем эту строку */
    margin-right: 5px;
}

/* Change background color on hover */
.browse-file-btn:hover, .create-post-btn:hover {
    background-color: #5a8fbf; /* Darker shade of pastel blue */
}

    /* Hide default file input appearance */
.file-input {
    display: none;
}

.create-post-btn {
    display: none; /* изначально скрываем кнопку */
}

.file-upload {
    display: flex; /* Используем flexbox */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.author {
    margin-right: 5px; /* Уменьшение отступа между именем пользователя и датой */
    font-size: smaller;
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Сделает цвет текста таким же, как у окружающего текста */
    cursor: pointer; /* Сделает курсор при наведении таким же, как у обычного текста */
}

.date {
    font-size: x-small;
}

.post {
    background-color: #333; /* Установка цвета фона для контейнера поста */
    color: #fff; /* Установка цвета текста в посте */
    margin-bottom: 10px; /* Добавление отступа между постами */
    border-radius: 5px; /* Скругление углов контейнера поста */
    width: 550px; /* Установка ширины контейнера для постов */
    position: relative;
}

.post img {
    width: 100%; /* Растянуть изображение на всю ширину контейнера */
    height: auto; /* Сохранить пропорции изображения */
    display: block; /* Сделать изображение блочным элементом */
    margin: auto; /* Центрирование изображения */
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
}

.menu-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #2b2b2b; /* Темно-серый цвет */
    font-weight: bold; /* Пожирнее */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: #ffffff;
    padding: 2px 2px;
    font-size: 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333333;
}

.menu:hover .dropdown-content {
    display: block;
}

.comment-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.comment-text {
    margin-top: -20px;
    flex: 1;
    height: 30px; /* Высота текстового поля */
    resize: none;
    border-radius: 5px; /* Скругленные края textarea */
    align-items: flex-start; /* Прижимаем к низу */
    max-width: 100%; /* Максимальная ширина текстового поля равна ширине родительского контейнера */
    word-wrap: break-word; /* Перенос слов на новую строку при необходимости */
}

.comment-btn {
    width: 80px; /* Ширина кнопки Send */
    height: 38px; /* Высота кнопки Send, должна совпадать с высотой текстового поля */
    background-color: #333; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Скругленные края кнопки */
    cursor: pointer; /* Курсор при наведении на кнопку */
    margin-left: 10px; /* Отступ слева от textarea */
}

.comment-divider {
    border: none;
    border-top: 1px solid #2b2b2b; /* Цвет разделительной полосы */
    margin: 0px 0; /* Отступы от комментариев */
}

.comment {
    display: flex;
    flex-direction: column;
}

.comment-user {
    font-weight: bold; /* Жирный шрифт для имени пользователя */
}

.comment-date {
    font-size: smaller;
    color: #666;
    margin-top: 10px; /* Отступ между текстом комментария и датой */
}

.comment-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-input {
    align-self: flex-end; /* Прижать textarea к левому краю */
}

.avatar-img {
    width: 30px !important;
    height: 30px !important;
}

.avatar-container {
    display: inline-block; /* Делаем контейнер блочным элементом, чтобы элементы в нем можно было выровнять горизонтально */
    vertical-align: middle; /* Выравниваем по вертикали по центру */
    margin-right: 5px; /* Добавляем небольшой отступ между аватаром и именем пользователя */
}

.subscribe-btn, .unsubscribe-btn {
    background-color: #5a8fbf;
    color: white; /* Белый цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px; /* Размер шрифта */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель курсора при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
    margin-bottom: 20px;
}

.subscribe-btn:hover {
    background-color: #0056b3; /* Темно-голубой цвет при наведении */
}

.link-text {
  color: white; /* Задаем белый цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
}

.link-text:hover {
  color: #dcdcdc; /* Цвет текста при наведении, можно изменить на любой другой */
}

.subscriber-list {
  list-style-type: none;
  padding: 0;
}

.subscriber-item {
  margin: 10px 0;
}

.subscriber-button {
  display: inline-block;
  background-color: #333; /* Темный цвет для кнопки */
  color: #fff; /* Белый текст */
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.subscriber-button:hover {
  background-color: #555; /* Более светлый оттенок при наведении */
}

.subscriber-button img {
  margin-right: 10px; /* Отступ между изображением и текстом */
  border-radius: 50%; /* Круглые аватары */
}
