{% extends "layout.html" %}

{% block content %}

{% load static %}

<div class="post">
    <div class="post-header">
        <p class="author">{{ post.author.username }}</p> <!-- Имя пользователя -->
        <p class="date">{{ post.date|date:"d.m.Y H:i" }}</p> <!-- Дата публикации -->
         <div class="menu">
            <button class="menu-btn">&#8942;</button>
            <div class="dropdown-content">
                <a href="{% url 'post-edit' post.id %}">Редактировать</a>
                <a href="{% url 'post-delete' post.id %}">Удалить</a>
            </div>
        </div>
    </div>
    <div class="post-content">
        <p class="text">{{ post.text }}</p> <!-- Текст поста -->
        {% if post.content %}
            {% if '.jpg' in post.content.url or '.jpeg' in post.content.url or '.png' in post.content.url or '.gif' in post.content.url %}
                <img src="{{ post.content.url }}" alt="Post Image"> <!-- Отображение изображения -->
            {% else %}
                <a href="{{ post.content.url }}">Download File</a> <!-- Ссылка для скачивания файла, если это не изображение -->
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}