{% extends 'layout.html' %}

{% block content %}

{% load static %}

<div class="row" id="real-estates-detail">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center" id="author">
                    <style>
                    .wrapper {
                        width: 292.5px;
                        height: 292.5px;
                    }
                    .exmpl img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    </style>
                    <img src="{{ MEDIA_URL }} {{ profile_pic }}" alt="Аватарка пользователя" height=292.5 width=292.5>
                    <h3>{{username}}</h3>
                    <h3>{{description}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}