{% extends 'layout.html' %}

{% block content %}

{% load static %}

<div class="row" id="real-estates-detail">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center" id="author">
                    <img src="{{ MEDIA_URL }}{{ profile_pic }}" alt="AVATAR" height=292.5 width=292.5>
                    <h3>{{ username }}</h3>
                    <h3>{{ description }}</h3>
                    {% if request.user.is_authenticated %}
                        {% if username != request.user.username %}
                            {% if not is_subscribed %}
                                <form method="post" action="{% url 'subscribe' username=username %}">
                                    {% csrf_token %}
                                    <button type="submit">Subscribe</button>
                                </form>
                            {% else %}
                                <form method="post" action="{% url 'unsubscribe' username=username %}">
                                    {% csrf_token %}
                                    <button type="submit">Unsubscribe</button>
                                </form>
                            {% endif %}
                        {% endif %}
                        <p>is_subscribed: {{ is_subscribed }}</p>
                    {% endif %}
                    <p>username: {{ username }}</p>
                    <p>user: {{ user }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
