body {
    margin: 0;
    padding: 0;
    font-family: 'Gothic', Arial, sans-serif;
    background-color: #2b2b2b;
    color: #ffffff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%; /* Ширина сайдбара на 20% экрана */
    background-color: #272727;
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0; /* Убираем отступ сверху */
}

.sidebar ul li {
    padding: 1px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-align: center;
    word-wrap: break-word; /* Добавляем перенос для длинных слов */
}

.sidebar ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

.content {
    margin-left: 20%;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    word-wrap: break-word; /* Добавляем перенос для длинных слов */
}
.logout-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Установите z-index по вашему усмотрению, чтобы кнопка находилась поверх других элементов */
}

.logout-button a {
    color: #fff;
    background-color: #333;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.logout-button a:hover {
    background-color: #444;
}
.avatar {
    width: 250px; /* Желаемая ширина изображения */
    height: 250px; /* Автоматическое определение высоты */
    border-radius: 50%; /* Округление углов для создания эффекта круглой аватарки */
}